streamlit==1.39.0
pandas==2.2.2
numpy==2.1.0
scikit-learn==1.5.1
joblib==1.4.2
matplotlib==3.9.2
seaborn==0.13.2
altair==5.4.1
plotly==5.21.0  # optional, in case you're using it for visuals
